* {
  box-sizing: border-box;
}


nav {
  display: flex;
  font-family: 'DotGothic16', sans-serif;
  letter-spacing: 0.2em;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(154, 154, 154);
  padding: 20px 50px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 4px #000000;
  width: 100%;
}

nav a {
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition-duration: 200ms;
}

nav a:hover {
  cursor: pointer;
  /* color: rgb(246, 246, 149); */
  /* text-shadow: 0 0 8px rgb(2, 40, 8), 0 0 8px rgb(2, 40, 8), 0 0 8px rgb(2, 40, 8), 0 0 8px rgb(2, 40, 8); */
  color: black;

}

body {
  font-family: 'DotGothic16', sans-serif;
  background-color:#e5e5e3;
}

#members {
display: block;
width: 1200px;
margin: 30px auto;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

article {
  font-size: 25px;
  color: #000000;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 170px;
  margin-left: 20px;
  margin-right: 20px;
  border-width: 3px;
  border-color: rgb(54, 54, 54);
  border-style: solid;
}

footer {
  margin: 100px 50px;
  text-align: center;
}