* {
  box-sizing: border-box;
}


nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: darkolivegreen;
  padding: 20px 50px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 4px #000000;
  width: 100%;
}

nav a {
  font-size: 30px;
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  color: white;
  transition-duration: 200ms;
}

nav a:hover {
 cursor: pointer;
 /* color: rgb(246, 246, 149); */
 text-shadow: 0 0 8px rgb(2, 40, 8), 0 0 8px rgb(2, 40, 8), 0 0 8px rgb(2, 40, 8), 0 0 8px rgb(2, 40, 8);

}

#members {
display: block;
width: 1200px;
margin: 30px auto;
}

div {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

article {
  font-size: 25px;
}

img {
  width: 250px;
  height: 250px;
  border-radius: 170px;
  margin-left: 20px;
  margin-right: 20px;
  border-width: 3px;
  border-color: rgb(12, 92, 0);
  border-style: solid;
}

footer {
  margin: 100px 50px;
  text-align: center;
}