* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-image: url("../img/UI/cubeWallBackground.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-color: white;
  font-family: 'DotGothic16', sans-serif;
  letter-spacing: 0.1em;

}

nav {
  display: flex;
  font-family: 'DotGothic16', sans-serif;
  letter-spacing: 0.2em;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(154, 154, 154);
  padding: 20px 50px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 4px #000000;
  width: 100%;
}

nav a {
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition-duration: 200ms;
}

nav a:hover {
  cursor: pointer;
  color: black;

}

h1 {
  font-size: 50px;
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 50px;
  margin-bottom: 50px;
  letter-spacing: 0.2em;
}

#chart {
  display: block;
  width: 85%;
  height: 600px;
  border-width: 2px;
  border-style: solid;
  border-color: rgb(0, 0, 0);
  margin: 50px auto;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#resetLeaderboard {
  font-size: 25px;
  background-color: rgb(0, 0, 0);
  color: white;
  text-decoration: none;
  padding: 10px 30px;
  border-radius: 10px;
  transition-duration: 250ms;
  align-items: center;
  border: 2px solid transparent;

}

#resetLeaderboard:hover {
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  border: 2px solid black;

}

footer {
  margin: 100px 50px;
}