* {
  box-sizing: border-box;
}

body {
  text-align: center;
  background-image: url("../img/UI/mac2.png");
  background-repeat: no-repeat;
  background-size: 2200px;
  background-position: center 70px;
  /* background-position: center; */
  background-color: white;
  font-family: 'DotGothic16', sans-serif;
  letter-spacing: 0.1em;

}

nav {
  display: flex;
  font-family: 'DotGothic16', sans-serif;
  letter-spacing: 0.2em;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(154, 154, 154);
  padding: 20px 50px;
  margin-bottom: 20px;
  box-shadow: 2px 2px 4px #000000;
  width: 100%;
}

nav a {
  font-size: 30px;
  text-decoration: none;
  font-weight: bold;
  color: white;
  transition-duration: 200ms;
}

nav a:hover {
  cursor: pointer;
  color: black;

}

#empty {
  height: 240px;
}

#mute {
  position: absolute;
  top: 120px;
  right: 40px;
  height: 30px;
  border: 2px solid black;
}

h1 {
  font-size: 50px;
  font-family: 'DotGothic16', sans-serif;
  text-align: center;
  font-weight: bold;
  color: rgb(0, 0, 0);
  margin-top: 100px;
  margin-bottom: 50px;
  letter-spacing: 0.2em;
}


#profileRender {
  width: 80%;
}

#intro {
  margin-bottom: 20px;
  text-align: left;
}


#outer-gameplay-area {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 500px;
  margin: auto;
  /* margin-top: 250px; */

}

#gameplay-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  /* position: absolute; */
  width: 600px;
  height: 400px;
  margin: 0px auto;
  /* margin-top: 300px; */
  /* left: 500px;
  top: 480px; */
  /* border-width: 2px;
  border-style: solid;
  border-color: darkblue;
  background-color: rgb(219, 219, 219); */
}

#form-name {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
}

#employee-profile-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}

#fire {
  font-size: 25px;
  background-color: rgb(187, 0, 0);
  color: white;
  padding: 10px 46.2056px;
  border-radius: 10px;
  transition-duration: 400ms;
  align-items: center;
}

#fire:hover {
  background-color: rgb(255, 0, 0);
  color: white;
  cursor: pointer;
}

#retain {
  font-size: 25px;
  background-color: rgb(0, 160, 11);
  color: white;
  padding: 10px 30px;
  border-radius: 10px;
  transition-duration: 400ms;
  align-items: center;
}

#retain:hover {
  background-color: rgb(0, 255, 17);
  color: white;
  cursor: pointer;
}


#timer-box,
#welcome-user {
  display: block;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 20px;
}

#humans-correctly-resourced {
  display: block;
  font-size: 25px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 20px;
}

#greeting {
  /* margin-top: 30%; */
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: rgb(154, 62, 0);
  margin-bottom: 20px;
}

#leaderboardBtn a {
  margin: 20px 20px;
  display: inline-block;
  text-align: center;
  font-size: 25px;
  background-color: rgb(4, 119, 145);
  text-decoration: none;
  color: white;
  border-radius: 10px;
  padding: 10px 30px;
  transition: 100ms;

}

#leaderboardBtn a:hover {
  background-color: rgb(0, 183, 224);
  cursor: pointer;
}

#restartBtn {
  margin: 20px 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  font-size: 25px;
  background-color: rgb(83, 0, 134);
  color: white;
  border-radius: 10px;
  text-decoration: none;
  transition: 100ms;
  width: 300px;
  height: 35px;

}

#restartBtn:hover {
  background-color: rgb(131, 3, 211);
  cursor: pointer;
}

/* .instruction-area {
width: 100%;
} */

#instruction-img {
  display: flex;
  flex-direction: column;
}

#instruction-title {
  font-size: 25px;
  font-weight: bold;
  margin-top: 30px;
  margin-bottom: 20px;
}

#good-fire-example-div {
  background-color: rgb(255, 0, 0, 0.1);
}

#good-retain-example-div {
  background-color: rgb(60, 179, 113, 0.1);
}


.good-fire-example,
.good-retain-example {
  /* border-width: 2px;
  border-style: solid;
  border-color: darkblue; */
  margin: 10px 10px;
  width: 100px;
}

#empty2 {
  height: 480px;
}

footer {
  margin: 100px 50px;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }

  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }

  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }

  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }

  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }

  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }

  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }

  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }

  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }

  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }

  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

.notify {
  animation: shake 0.3s;
  animation-iteration-count: 1;
}

#form-name {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}

.hv {
  color: green;
}

.le {
  color: red;
}